<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>

<body>

    <div class="box" id="heading">
        <h2><%= listTitle %> </h2>
    </div>

    <div class="box">

        <% for (let i=0; i<items.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= items[i] %></p>
        </div>
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="Nouvel élément" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>

    </div>




</body>

</html>