.card {
  margin: 0 auto;
  background: linear-gradient(to top, red, pink);
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid grey
}